:root {
  --themePrimary: "[theme:themePrimary]";
  --themeSecondary: "[theme:themeSecondary]";
  --themeDark: "[theme:themeDark]";
  --themeLight: "[theme:themeLight]";
  --neutralPrimary: "[theme:neutralPrimary]";
  --neutralDark: "[theme:neutralDark]";
  --neutralSecondary: "[theme:neutralSecondary]";
  --neutralTertiary: "[theme:neutralTertiary]";
  --themeOrange: #FF691A;
}
